<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10 text-center">
            <h4>Chats</h4>
        </div>
    </div>

    <section id="topic">
        <div class="flex-container">
            <div class="card d-flex align-items-center pointer mb-4 m-2" *ngFor="let topic of topics$"
                [ngClass]="{ 'card-border-primary': selectedTopicId == topic._id }"
                (click)="selectedTopicId = topic._id!; getMentorsByTopicId(topic?._id!)">
                <span>{{topic?.name}}</span>
            </div>
        </div>
    </section>

    <div class="row mt-4" style="max-height: 50vh !important;">
        <div class="col-md-2">
            <ng-container *ngIf="!isMentor$; else seekersList">
                <div class="card-border grey-card d-flex align-items-center pointer mb-2"
                    *ngFor="let mentor of mentors$" [ngClass]="{ 'dark-grey-card': selectedMentorId == mentor._id }"
                    (click)="handleGetCommunicationWithMentor(mentor._id)">
                    <img src="assets/images/user.png" class="img-fluid" height="16px" width="16px">
                    <span style="margin-left: 1rem;">{{mentor?.name?.firstName}} {{mentor?.name?.lastName}}</span>
                </div>
            </ng-container>
            <ng-template #seekersList>
                <div class="card-border grey-card d-flex align-items-center pointer mb-2"
                    *ngFor="let seeker of seekers$" [ngClass]="{ 'dark-grey-card': selectedMentorId == seeker._id }"
                    (click)="handleGetCommunicationWithMentor(seeker._id)">
                    <img src="assets/images/user.png" class="img-fluid" height="16px" width="16px">
                    <span style="margin-left: 1rem;">{{seeker?.name?.firstName}} {{seeker?.name?.lastName}}</span>
                </div>
            </ng-template>
        </div>
        <div class="col-md-10">
            <div class="fifty-four">
                <div *ngIf="communicationsAvailable; else noCommunications">
                    <div class="chat">
                        <div [attr.data-time]="communication?.createdAt | date: 'dd-MMM-yyyy hh:mm'" class="msg"
                            *ngFor="let communication of communications$"
                            [ngClass]="(communication?.createdBy?._id === me) ? 'sent' : 'rcvd'">
                            {{communication?.content}}
                        </div>
                    </div>
                    <!-- <div class="d-flex flex-column align-items-center" *ngFor="let communication of communications$"
                    [ngClass]="(communication?.createdBy?._id === me) ? 'justify-content-end' : 'justify-content-start'">
                    <p>{{communication?.content}}</p>
                    <small class="text-secondary">{{communication?.createdAt | date: 'dd-MM-yyyy'}}</small>
                </div> -->
                </div>
                <ng-template #noCommunications>
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <img src="assets/images/no-communications.jpg" class="rounded" height="300">
                        <p>No communications available</p>
                    </div>
                </ng-template>
            </div>
            <div class="twelve">
                <section id="send-message" *ngIf="selectedMentorId > 0">
                    <mat-form-field appearance="fill">
                        <mat-label>Message</mat-label>
                        <input matInput type="text" [formControl]="message" placeholder="Type something"
                            (keyup.enter)="handleSendMessage()">
                        <button matSuffix mat-icon-button [disabled]="message.value.trim() <= 0" color="primary">
                            <mat-icon (click)="handleSendMessage()" class="pointer">send</mat-icon>
                        </button>
                    </mat-form-field>
                </section>
            </div>
        </div>
    </div>
</div>