<p *ngIf="isLoggedIn$ | async as isLoggedIn">
    <mat-toolbar>
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button> -->
        <!-- <span class="pointer mr-3">{{applicationName}}</span> -->
        <img src="assets/images/user.png" height="30"/>
        <span class="pointer" style="margin-left: 15px;" routerLink="/dashboard">Home</span>
        <span class="example-spacer"></span>
        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button> -->
        <span class="pointer mr-3" routerLink="/personality-test">Take a Personality Test</span>
        <span class="pointer mr-3" routerLink="/contact-us">Contact Us</span>
        <span class="pointer mr-3" routerLink="/about-us">About Us</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>person_outline</mat-icon>
            <!-- <img src="assets/images/user.png" height="30"/> -->
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>account_circle</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item *ngIf="isLoggedIn$ | async" (click)="handleLogoutClick()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with logout icon"
            *ngIf="isLoggedIn$ | async" (click)="handleLogoutClick()">
            <mat-icon>power_settings_new</mat-icon>
        </button> -->
    </mat-toolbar>
</p>