<p *ngIf="isLoggedIn$ | async as isLoggedIn">
    <mat-toolbar>
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button> -->
        <!-- <span class="pointer mr-3">{{applicationName}}</span> -->
        <img src="assets/images/logo.jpeg" class="rounded-circle" height="40" width="40"/>
        <a style="margin-left: 15px;" routerLink="/dashboard" routerLinkActive="active-link">Home</a>
        <a style="margin-left: 15px;" routerLink="/communication/chat" routerLinkActive="active-link">Chats</a>
        <!-- <a style="margin-left: 15px;" routerLink="/personality-test" routerLinkActive="active-link">Take a Personality Test</a> -->
        <a style="margin-left: 15px;" routerLink="/contact-us" routerLinkActive="active-link">Contact Us</a>
        <a style="margin-left: 15px;" routerLink="/about-us" routerLinkActive="active-link">About Us</a>
        <a style="margin-left: 15px;" routerLink="/topic" routerLinkActive="active-link" *ngIf="userInfo?.role === 1">Topic</a>
        <span class="example-spacer"></span>
        <span></span>
        <!-- <button mat-icon-button aria-label="Example icon-button with a notification" class="mr-3"
            routerLink="/communication">
            <mat-icon [matBadge]="notificationCount" matBadgeColor="warn">notifications</mat-icon>
        </button> -->
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <!-- <img [src]="userInfo?.profilePicDetails?.Location!" class="rounded-circle" height="40" width="40"/> -->
            <span *ngIf="userInfo?.profilePicDetails?.Location!; else userInitials">
                <img [src]="userInfo.profilePicDetails.Location!" alt="Profile pic of user" class="rounded-circle"
                    height="40" width="40">
            </span>
            <ng-template #userInitials>
                <h2 class="d-flex align-items-center justify-content-center" style="height: 100%">{{userInitialName}}</h2>
            </ng-template>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/user/user-profile">
                <mat-icon>account_circle</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item *ngIf="isLoggedIn$ | async" (click)="handleLogoutClick()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar>
</p>