<div class="container">
    <div class="d-flex align-items-center justify-content-between" style="height: 100%">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="mt-5">
                    <h1 class="text-center pt-4">
                        <strong>More About Our <br> Services</strong>
                    </h1>
                    <p class="mt-4">
                        This text is to explain more about our products and services that we provide
                    </p>
                    <p class="mt-4">
                        It's all about who we are and what we do
                    </p>

                    <button mat-raised-button type="button" class="large-button full-width rounded-corner" color="primary">
                        Get Started
                    </button>
                </div>
            </div>
            <div class="col-md-7 col-sm-12 d-flex justify-content-end">
                <img src="assets/images/quiz.jpg" height="450" class="rounded" alt="No events" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3" *ngFor="let item of locatedCities;">
            <div class="border p-3">
                <p><strong>{{item?.name}}</strong></p>
                <p>{{item?.address}}</p>
                <p>{{item?.location}}</p>
            </div>
        </div>
    </div>
</div>