<div class="row">
    <div class="col-md-2 pt-0">
        <button mat-icon-button type="button" color="primary" (click)="handleGoBack();">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
    </div>
    <div class="col-md-10 d-flex align-items-center justify-content-center">
        <h4 class="mb-0">Communications</h4>
    </div>
</div>
<div class="row mt-4" style="max-height: 50vh !important;">
    <div class="col-md-12">
        <div class="sixty-eight">
            <div *ngIf="communicationsAvailable; else noCommunications">
                <div class="chat">
                    <div [attr.data-time]="communication?.createdAt | date: 'dd-MMM-yyyy hh:mm'"
                        class="msg" *ngFor="let communication of communications$"
                        [ngClass]="(communication?.createdBy?._id === me) ? 'sent' : 'rcvd'">
                        {{communication?.content}}
                    </div>
                </div>
            </div>
            <ng-template #noCommunications>
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <img src="assets/images/no-communications.jpg" class="rounded" height="350">
                    <br>
                    <p>No communications available</p>
                </div>
            </ng-template>
        </div>
        <div class="twelve">
            <section id="send-message">
                <mat-form-field appearance="fill">
                    <mat-label>Message</mat-label>
                    <input matInput type="text" [formControl]="message" placeholder="Type something"
                        (keyup.enter)="handleSendMessage()">
                    <button matSuffix mat-icon-button [disabled]="message.value.trim() <= 0" color="primary">
                        <mat-icon (click)="handleSendMessage()" class="pointer">send</mat-icon>
                    </button>
                </mat-form-field>
            </section>
        </div>
    </div>
</div>