<div class="container text-center">
    <h2>Create Podcast</h2>

    <form class="mt-4" [formGroup]="podcastForm" (ngSubmit)="handleCreatePodcast()">
        <mat-form-field class="example-form-field mt-2" appearance="fill">
            <mat-label>Podcast Message</mat-label>
            <textarea matInput type="text" formControlName="message" rows="5"></textarea>
        </mat-form-field>

        <button mat-raised-button type="submit" color="accent" class="full-width large-button"
            [disabled]="podcastForm.invalid">Save</button>

        <button mat-raised-button type="button" class="full-width large-button mt-3"
            routerLink="../../podcasts">Cancel</button>
    </form>
</div>
