::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 10px !important;
    padding: 0.75em;
}

::ng-deep .mat-form-field-underline {
    display: none;
    border-radius: 10px !important;
}

.app-container {
    // max-width: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    // margin-bottom: 1rem;
}

.header {
    flex-shrink: 0;
    flex-grow: 0;
    // background: #039be5;
    // padding: 3px 5px;
}

.content {
    flex-shrink: 1;
    flex-grow: 1;
    // padding: 3px 5px;
    position: relative;
    overflow-y: auto;
    padding-bottom: 1rem;
    // padding-top: 64px;
}

.footer {
    flex-shrink: 0;
    flex-grow: 0;
    background: #eee;
    // padding: 3px 15px;
    position: absolute;
}

// p {
//     font-family: Lato;
// }

.fixed-right-switch {
    margin: 20px 10px 0 0;
    color: grey;
}