<h2 mat-dialog-title class="text-center">Resources</h2>
<mat-dialog-content class="mat-typography">
    <h3 class="text-center">Topic | {{topicInfo.name}}</h3>
    <div class="row">
        <div class="col-sm-12">
            <mat-nav-list>
                <a mat-list-item [href]="resource?.link" target="_blank" *ngFor="let resource of topicInfo?.resources">
                    {{ resource?.title }} </a>
            </mat-nav-list>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>