<div *ngIf="isLoading; else noLoading"></div>

<ng-template #noLoading>
    <div class="row mt-2 pb-2 mb-2" *ngIf="mentors$?.length; else noMentor">
        <h4>Mentors</h4>
        <div class="col-sm-6 col-md-3 mt-4 mb-4" *ngFor="let mentor of mentors$">
            <div class="card d-flex align-items-center justify-content-center">
                <img src="assets/images/user.png" class="img-fluid" height="100px" width="100px">
                <br>
                <p><strong>{{mentor?.name?.firstName}} {{mentor?.name?.lastName}}</strong></p>
                <p>{{mentor?.email}}</p>
                <p>{{mentor?.mobileNumber ? mentor?.mobileNumber : '--'}}</p>
                <p>{{mentor?.docUrl ? mentor?.docUrl : '--'}}</p>
                <p>{{mentor?.topics ? mentor?.topics : '--'}}</p>
                <button mat-stroked-button type="button" color="primary"
                    [routerLink]="['/communication/mentor', topicId, mentor._id]">
                    Message
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #noMentor>
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
        <img src="assets/images/mentor.jpg" class="rounded" height="350">
        <br>
        <p>No Mentors available for this topic</p>
        <button mat-raised-button type="button" routerLink="/dashboard">Go back</button>
        <!-- <img src="assets/images/get-in-touch.jpg" height="500" class="rounded" alt="No events" /> -->
    </div>
</ng-template>