<mat-form-field class="example-form-field mt-3" appearance="fill">
    <mat-label>Add a task</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<div class="row mt-2">
    <div class="col-8">
        <button mat-raised-button color="accent" class="full-width" [disabled]="!value.trim()"
            (click)="handleCreateTask()">Add</button>
    </div>
    <div class="col-4">
        <button mat-raised-button class="full-width" (click)="handleCancelTask()">Cancel</button>
    </div>
</div>