<div class="scrolling-wrapper row flex-nowrap mt-2 pb-2 mb-2"
    [ngClass]="{'flex-column': direction == 'vertical', 'flex-row': direction == 'horizontal'}">
    <div [ngClass]="{ 'col-12 mb-2': direction == 'vertical', 'col-10': direction == 'horizontal'}"
        *ngFor="let event of events$">
        <div class="card mt-2" [routerLink]="['/events/event-details', event._id]">
            <div class="row">
                <div class="col-3 d-flex align-items-center justify-content-center">
                    <img src="assets/images/calendar.png" class="img-fluid">
                </div>
                <div class="col-9">
                    <strong>{{(event?.title || '') | ellipsis: 20}}</strong>
                    <br>
                    <span>{{(event?.description || '') | ellipsis: 20}}</span>
                    <br>
                    <span class="text-secondary float-right"><small>{{event?.eventDate | date: 'MM-dd-yyyy'}}</small></span>
                </div>
            </div>
        </div>
    </div>
</div>