<div class="container">

    <div class="text-center mb-3">
        <h2>Articles</h2>
    </div>

    <div *ngIf="!isContentAvailable;then empty_content else content"></div>

    <ng-template #empty_content>
        <div class="text-center mt-5">
            <img src="assets/images/empty-articles.png" height="250" alt="No articles">
            <h2 class="mt-5">No articles</h2>
        </div>
    </ng-template>

    <ng-template #content>
        <div class="row">
            <div class="col-sm-6 col-12" *ngFor="let article of articles$;">
                <div class="card mb-3" [routerLink]="['../article-details', article._id]">
                    <div class="dot float-end" *ngIf="!article?.isViewed"></div>
                    <img [src]="article?.imagePath" height="200" width="100%" alt="Article image"
                        *ngIf="article?.imagePath; else no_article_image">
                    <ng-template #no_article_image>
                        <img src="assets/images/article.jpg" height="200" alt="Article">
                    </ng-template>
                    <h6>{{article?.title}}</h6>
                    <p class="d-flex justify-content-between text-secondary">
                        <span>{{article?.createdBy?.name?.firstName}} {{article?.createdBy?.name?.lastName}}</span>
                        <!-- <span>{{article?.createdAt}}</span> -->
                        <span>{{article?.createdAt | date: 'dd-MM-yyyy'}}</span>
                    </p>
                </div>
            </div>
        </div>
    </ng-template>

    <div class="floating-button-right">
        <button mat-mini-fab color="accent" matTooltip="Add a Article" aria-label="Icon button for add article"
            routerLink="../add-article" accessControl moduleType="articles" accessType="create_action">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>