<div class="container">

    <div class="text-center mb-3">
        <h2>FAQ</h2>
    </div>

    <div *ngIf="!isContentAvailable;then empty_content else content"></div>

    <ng-template #empty_content>
        <!-- <div class="text-center mt-5">
            <img src="assets/images/empty-question-and-answer.png" height="300" alt="No question and answer">
            <h2 class="mt-5">No questions yet</h2>
        </div> -->
    </ng-template>

    <ng-template #content>
        <div>
            <mat-form-field class="example-form-field mt-2" appearance="fill">
                <mat-label>Search question</mat-label>
                <input matInput type="text" [(ngModel)]="value">
                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-tab-group dynamicHeight (selectedTabChange)="handleTabChange($event)" [selectedIndex]="tabIndex">
                <mat-tab label="All">
                    <ng-container [ngTemplateOutlet]='quesionsList'></ng-container>
                </mat-tab>
                <mat-tab label="You">
                    <ng-container [ngTemplateOutlet]='quesionsList'></ng-container>
                    <ng-container *ngIf="!questions$?.length">
                        <div class="text-center">
                            <img src="assets/images/empty-question-and-answer.png" height="200" alt="No question and answer">
                            <h2 class="mt-5">No questions yet</h2>
                        </div>
                    </ng-container>
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-template>

    <div class="floating-button-right">
        <button mat-mini-fab color="accent" matTooltip="Ask a question" aria-label="Icon button for ask a question"
            routerLink="../ask-a-question">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>

<ng-template #quesionsList>
    <div class="mt-3">
        <div *ngFor="let question of questions$;" [routerLink]="['../question-and-answer-details', question?._id]"
            class="mt-3 border-bottom">
            <div class="dot float-end" *ngIf="userId == question.createdBy?._id && question?.isAnswered"></div>
            <strong>{{question?.title}}</strong>
            <p class="d-flex justify-content-between text-secondary mt-2">
                <span>
                    <mat-icon aria-hidden="false" aria-label="Message icon" fontIcon="message"
                        class="icon-with-text">
                    </mat-icon>&nbsp;
                    {{question?.answers?.length}}
                </span>
                <span>{{question?.createdAt | date: 'MM-dd-yyyy'}}</span>
            </p>
        </div>
    </div>
</ng-template>