/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
    height: 100%;
    overflow: hidden;
    // overflow-y: auto !important;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

*:not(i):not(.fa):not(.fas):not(mat-icon) {
    font-family: 'Noto Sans', sans-serif;
}

mat-form-field {
    width: 100%;
}

.scrolling-wrapper {
    // height: 65vh;
    // overflow-y: hidden;
    // overflow-x: hidden;
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

.card {
    padding: 1rem;
    border-radius: 10px;
    border-color: rgba(199, 192, 192, 0.2);
    background-color: inherit !important;
    // border-color: gainsboro;
    box-shadow: 2px 4px 8px 2px rgba(199, 192, 192, 0.2);
    // box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.15),
    //   -0px -6px 10px 0 rgba(255, 255, 255, 0.45) !important;
    transition: 0.3s !important;
}

.card-border-primary {
    border-radius: 10px;
    color: #ffffff !important;
    // border: 2px solid #bdc3e8;
    background-color: #aeb6e3 !important;
}

.card-border {
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid rgba(199, 192, 192, 0.2);
}

.grey-card {
    background-color: #F8F9FA !important;
    box-shadow: 0 4px 8px 0 #F8F9FA;
}

.dark-grey-card {
    background-color: #DEE1E6 !important;
    box-shadow: none;
    border-color: #DEE1E6;
}

.icon-with-text {
    font-size: 24px;
    vertical-align: middle;
}

.floating-button-right {
    position: fixed;
    bottom: 100px;
    right: 16px;
    z-index: 100;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    transform: 0.3s !important;
}

.full-width {
    width: 100% !important;
}

.large-button {
    height: 3.2em;
    font-size: medium;
}

.rounded-corner {
    border-radius: 25px !important;
}

.border-dashed {
    border: 1px dashed darkgrey;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}